<div class="front-goods grid-container">
	<div class="grid-content">
		<h1>slider test</h1>
	</div>
	<div class="slider-wrap">

	<div id="slider" class="slider">
		<div class="slider__wrapper grid-content">
			<div id="slides" class="slider__slides">
				<div class="slider__slide"></div>
				<div class="slider__slide"></div>
				<div class="slider__slide"></div>
				<div class="slider__slide"></div>
				<div class="slider__slide"></div>
			</div><!--slides-->
		</div><!--slider__wrapper-->
		 <a id="control-prev" class="slider__control slider__control_prev"></a>
		<a id="control-next" class="slider__control slider__control_next"></a>
	</div><!--slider-->

	</div><!--slider-wrap-->
</div>
