<section class="combo container">
	<div class="content-width">
		<p class="subtitle">Your Personalized Coffee</p>
		<h2 class="combo__title">COMBO PHIN PHÊ</h2>
	</div>

		<div class="combo__slider-container">
			<div id="combo-slider" class="splide">
				<div class="splide__track">
					<ul class="splide__list">
						<li class="combo__slide splide__slide">
							@@include("parts/combo-product-card.html", {
								"image": "product-combo-damda.png",
								"price": "147.000",
								"price-old": "155.000",
								"title": "Combo Revo Đậm Đà",
								"txt": "Hàm lượng caffein trong Revo Đậm Đà đủ mạnh để làm bạn tỉnh táo làm việc...",
								"link": "#details",
							})
						</li>
						<li class="combo__slide splide__slide">
							@@include("parts/combo-product-card.html", {
								"image": "product-combo-everyday.png",
								"price": "156.000",
								"price-old": "165.000",
								"title": "Combo Revo Everyday",
								"txt": "Revo Everyday được phối trộn giữa vị đắng của hạt Robusta và hương thơm...",
								"link": "#details",
							})
						</li>
						<li class="combo__slide splide__slide">
							@@include("parts/combo-product-card.html", {
								"image": "product-combo-honey.png",
								"price": "275.000",
								"price-old": "260.000",
								"title": "Combo Revo Honey",
								"txt": "Honey &mdash; trong tên gọi Revo Honey đến từ phương pháp chế biến hạt Arabica...",
								"link": "#details",
							})
						</li>
						<li class="combo__slide splide__slide">
							@@include("parts/combo-product-card.html", {
								"image": "product-combo-natural.png",
								"price": "249.000",
								"price-old": "236.000",
								"title": "Combo Revo Natural",
								"txt": "Revo Natural là dòng cà phê đặc biệt của Revo Coffee dành riêng ...",
								"link": "#details",
							})
						</li>
					</ul>
				</div>
			</div>
		</div>
</section>
