<section id="features" class="features container">
	<div class="content-width">
		<p class="subtitle">Your Personalized Coffee</p>
		<h2 class="features__title">COFFEE BUILD YOUR BASE</h2>
		<div class="features__items-container">
			@@include("parts/features-item.html", {
				"image": "features-01.svg",
				"title": "Nguồn gốc",
				"txt": "Những hạt cà phê Arabica, Robusta đạt chất lượng theo tiêu chuẩn quốc tế."
			})
			@@include("parts/features-item.html", {
				"image": "features-02.svg",
				"title": "Chất lượng",
				"txt": "Từng một hạt cà phê là cả một quá trình tập trung cao độ của nghệ nhân cà phê."
			})
			@@include("parts/features-item.html", {
				"image": "features-03.svg",
				"title": "Các loại hạt",
				"txt": "70% chất lượng tách cà phê đến từ nguồn gốc và chất lượng green bean."
			})
			@@include("parts/features-item.html", {
				"image": "features-04.svg",
				"title": "Pha chế",
				"txt": "Những hạt cà phê được lột xác qua quá trình rang xay kỹ lưỡng và nghiêm ngặt."
			})
		</div>
	</div>
</section>
