<section id="giftset" class="giftset container">
	<div class="content-width">
		<p class="subtitle">Best Gift For Best Friend</p>
		<h2 class="giftset__title">GIFTSET</h2>

		<div class="giftset__tabs-container">
			<div id="giftset-tabs" class="tabset">
				<nav class="tabset__controls"></nav>
				<div class="tabset__tabs">

					<div class="tabset__tab tabset__tab_active">
						@@include("parts/giftset-tab.html", {
							"image": "product-giftset-vietnam-01.png",
							"price": "285.000",
							"title": 'Giftset "Cà phê phin Việt Nam"',
							"txt": "Món quà tuyệt vời dành cho người sành cà phê. Hạt cà phê được Revo cẩn trọng chọn lựa, rang xay theo công nghệ và bí quyết học hỏi từ những nghệ nhân nổi tiếng, cùng với tình yêu, sự đam mê của người làm cà phê… tạo ra những tách cà phê tinh khiết chỉ dành riêng cho bạn.",
							"blend": "Fine Robusta Blend",
							"region": "700 - 800m",
							"link": "#details",
						})
					</div>
					<div class="tabset__tab">
						@@include("parts/giftset-tab.html", {
							"image": "product-giftset-vietnam-02.png",
							"price": "300.000",
							"title": 'Giftset "Cà phê phin Việt"',
							"txt": "Món quà tuyệt vời dành cho người sành cà phê. Hạt cà phê được Revo cẩn trọng chọn lựa, rang xay theo công nghệ và bí quyết học hỏi từ những nghệ nhân nổi tiếng, cùng với tình yêu, sự đam mê của người làm cà phê… tạo ra những tách cà phê tinh khiết chỉ dành riêng cho bạn.",
							"blend": "Arabica & Robusta Blend",
							"region": "1000 - 1200m",
							"link": "#details",
						})
					</div>
					<div class="tabset__tab">
						@@include("parts/giftset-tab.html", {
							"image": "product-giftset-vietnam-03.png",
							"price": "400.000",
							"title": 'Giftset "Cà phê phin"',
							"txt": "Món quà tuyệt vời dành cho người sành cà phê. Hạt cà phê được Revo cẩn trọng chọn lựa, rang xay theo công nghệ và bí quyết học hỏi từ những nghệ nhân nổi tiếng, cùng với tình yêu.",
							"blend": "Fine Arabica Blend",
							"region": "1800m",
							"link": "#details",
						})
					</div>

				</div>
			</div>
		</div>

	</div>
</section>
