.coffee {
	@include bg-part($blue, 32%);
	//@include section-padding;//((
	@include section-padding;
	@include lg {
		padding-bottom: 100px;//wtf
	}
	&__title {
		@include title-margin-mob;
	}
	&__slider-container {
		@include slider-dim;
		@include content-dependent-margin;
		position: relative;
		z-index: 50;
		height: 950px;//inc $slider-padding
		@include sm{
			height: 605px;
		}
	}

	&__card {//product-card
		&:first-child {
			margin-bottom: 32px;
		}
	}

}//products

