.coffee {
	@include bg-part($blue, 30%);
	@include section-padding;
	&__title {
		margin-bottom: 40px;
		@include lg {
			margin-bottom: 70px;
		}
	}
	&__slider-container {
		//@include slider-dim(10%, after, right);
		outline: 2px solid lime;
		@include content-dependent-margin;
		position: relative;
		z-index: 50;
		height: 890px;
		@include sm{
			height: 545px;
		}
	}
	// slider items
	&__slide {
		//outline: 2px solid orange;
		//width: 590px;
	}
	&__card {//product-card
		&:first-child {
			margin-bottom: 32px;
		}
	}

	// end slider items




}//products

