.combo {
	@include bg-part($blue, 29%, before, right);
	@include section-padding;
	&__title {
		@include title-margin-mob;
		@include lg {
			margin-bottom: 30px;
		}
	}
	&__slider-container {
		@include slider-dim;
		@include content-dependent-margin;
		position: relative;
		z-index: 50;
		height: 600px;
	}
}
