.giftset {
	@include bg-part($almost-white, 30%, before, right);
	background-color: $light-gray;
	@include section-padding;
	@include lg {
		padding-bottom: 130px;//wtf
	}

	&__title {
		@include title-margin-mob;
		@include lg {
			margin-bottom: 65px;
		}
	}

	&__tabs-container {
		position: relative;
		z-index: 50;
		height: 750px;
		@include lg {
			height: 460px;
		}
	}

	&__card {//product-card
		height: 100%;
	}

}
