.intro {
	position: relative;
	display: flex;
	justify-content: flex-end;
	height: 500px;
	@include lg {
		height: 768px;
	}

	&__bg-blank {
		display: none;
		@include lg {
			display: block;
			flex: 0 0 32.5%;
			background-color: $almost-white;
		}
		@include xxl {
			flex: 0 0 37%;
		}
	}

	&__bg {
		flex: 0 0 50%;
		background: url("../images/intro.png") no-repeat;
		background-size: cover;
		background-position: right center;
		@include md {
			flex: 0 0 60%;
		}
		@include lg {
			flex: 0 0 480px;
			background-position: right center;
		}
		@include xl {
			flex: 0 0 690px;
		}
	}

	&__menu-container {
		flex: 0 0 50%;
		z-index: 20;
		@include md {
			flex: 0 0 40%;
		}
		@include lg {
			min-width: 250px;
			flex: 4;
		}
	}

	&__title-container {
		width: 100%;
		position: absolute;
		left: 15px;
		bottom: 15px;
		z-index: 40;
		@include lg {
			bottom: 33px;
		}
	}

	&__title {
		color: $almost-white;
		float: left;
		@include lg {
			color: $blue;
		}
		&_selected {
			display: block;
			background-color: $brown;
			color: $almost-white;
			text-transform: uppercase;
			line-height: 1.3;
			margin-left: -17px;
			padding: 0 15px;
		}
	}

	&__play {
		background: url("../images/icons/icon-play.svg") center/contain no-repeat;
		width: 100px;
		height: 100px;
		position: absolute;
		left: 25%;
		top: 50%;
		margin-left: -50px;
		margin-top: -50px;
		@include hover-transition;
		z-index: 10;
		@include md {
			left: 35%;
		}
		@include lg {
			left: 52%;
		}
		&:hover:before {
			content: "Sorry, no video here :)";
			position: absolute;
			width: 180px;
			top: -10px;
			left: -30px;
			color: #fff;
		}
	}

}
