// March, 2021
@import "vars-mixins";
.grid-content {
	outline: 1px dashed magenta;
}
header, footer {
	outline: 1px dashed magenta;
	& nav {
		outline: 1px dashed #ccc;
	}
}
body:before {
	position: fixed;
	top: 10px;
	right: 10px;
	font-size: 20px;
	z-index: 9990;
}

body:before {
	content: "xs before 575px";
	color: cyan;
}

@include sm {
	body:before {
		content: "sm - min-width: 576px";
		color: fuchsia;
	}
}
@include md {
	body:before {
		content: "md - min-width: 750px";
		color: blue;
	}

}
@include lg {
	body:before {
		content: "lg - min-width: 992px";
		color: lime;
	}

}
@include xl {
	body:before {
		content: "xl - min-width: 1200px";
		color: red;
	}

}

