// March, 2021
// It's a simple custom grid
@import "vars-mixins";

// Mobile-first
// Big Mobile - SM: min-width: 576
// Tablet - MD: min-width: 750
// Small Desk - LG: min-width: 992
// Desk - XL: min-width: 1200
// Big Desk - XXL: min-width: 1600

.container {
	width: 100%;
	position: relative;
	overflow: hidden;
}

.content-width {
	height: 100%;
	@include centered;
	@include content-width;
}
