<div class="combo__card product-card product-card_vertical">
	<figure class="product-card__image">
		<img src="images/products/combo/@@image" alt=""/>
	</figure>
	<div class="product-card__description">
		<div class="product-card__price-container">
			<p class="product-card__price">@@price</p>
			<p class="product-card__price-old">@@price-old</p>
		</div>
		<h3 class="product-card__title">@@title</h3>
		<p>@@txt</p>
		<div class="product-card__footer">
			<button class="btn" name="buy">MUA NGAY</button>
			<a class="product-card__link" href="@@link">CHI TIẾT</a>
		</div>
	</div>
</div>
