<div class="giftset__card product-card product-card_big">
	<figure class="product-card__image">
		<img src="images/products/giftset/@@image" alt="@@title"/>
	</figure>

	<div class="product-card__description">
		<p class="product-card__price">@@price</p>
		<h3 class="product-card__title">@@title</h3>
		<p>@@txt</p>

		<div class="product-card__specs">
			<div class="product-card__specs-item">
				<figure class="product-card__specs-icon">
					<img src="images/icons/icon-beans.svg" alt="blend"/>
				</figure>
				<div class="product-card__specs-txt">
					<p>Loại hạt</p>
					<p class="product-card__specs-value">@@blend</p>
				</div>
			</div>

			<div class="product-card__specs-item">
				<figure class="product-card__specs-icon">
					<img src="images/icons/icon-mountains.svg" alt="region"/>
				</figure>
				<div class="product-card__specs-txt">
					<p>Độ cao</p>
					<p class="product-card__specs-value">@@region</p>
				</div>
			</div>
		</div>

		<div class="product-card__footer">
			<button class="btn" name="buy">MUA NGAY</button>
			<a class="product-card__link" href="@@link">CHI TIẾT</a>
		</div>

	</div>

</div>
